{# templates/book/show.html.twig #}
<h1>List of Books</h1>

{% if list is empty %}
    <p>No Books found</p>
{% else %}
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Publication date</th>
                <th>Published</th>
                <th>Category</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in list %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.publicationDate|date('F j, Y') }}</td> {# Format Y H:i enlevé car c'est une Date, pas DateTime #}
                    
                    {# Le '1' était codé en dur, remplacé par la vraie valeur #}
                    <td>{{ book.published ? 'Yes' : 'No' }}</td> 
                    
                    <td>{{ book.category }}</td>
                    
                    {# 'book.author' (minuscule) correspond à l'entité corrigée #}
                    <td>{{ book.author.username }}</td> 
                    
                    <td>
                        {# CORRIGÉ : Fermeture des balises <a> #}
                        <a href="{{ path('editBook', {'id': book.id}) }}">edit</a>
                        <a href="{{ path('deleteBook', {'id': book.id}) }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<p>Number of published books : {{ totalPublished }}</p>
<p>Number of unpublished books : {{ totalUnpublished }}</